CREATE TABLE `user_info` (
  `OID` varchar(64) NOT NULL,
  `USER_ID` varchar(32) NOT NULL,
  `GENDER` varchar(2) DEFAULT NULL,
  `DEGREE` varchar(4) DEFAULT NULL,
  `NAME` varchar(64) DEFAULT NULL,
  `SSN` varchar(32) DEFAULT NULL,
  `EMAIL` varchar(128) DEFAULT NULL,
  `BIRTHDAY` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `OFFICE_NUMBER` varchar(32) DEFAULT NULL,
  `MOBILE` varchar(32) DEFAULT NULL,
  `HOME_NUMBER` varchar(32) DEFAULT NULL,
  `INSERT_TIME` timestamp NOT NULL DEFAULT '0000-00-00 00:00:00',
  `DEFAULT_ADDRESS_ID` varchar(32) DEFAULT NULL,
  `PASSWD` varchar(256) DEFAULT NULL,
  PRIMARY KEY (`OID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;