CREATE TABLE `validation_bean` (
  `STRING1` varchar(64) NOT NULL,
  `STRING2` varchar(64) NOT NULL,
  `TITLE` varchar(64) DEFAULT NULL,
  `DICTIONARY1` varchar(64) DEFAULT NULL,
  `LOOKUP1` varchar(64) DEFAULT NULL,
  `LOOKUP2` varchar(64) DEFAULT NULL,
  `EMAIL` varchar(64) DEFAULT NULL,
  `URL` varchar(64) DEFAULT NULL,
  `PHONE` varchar(64) DEFAULT NULL,
  `MOBILE` varchar(64) DEFAULT NULL,
  `SSN` varchar(64) DEFAULT NULL,
  `CHINESE` varchar(64) DEFAULT NULL,
  `BOOLEAN1` varchar(2) DEFAULT NULL,
  `INT1` int(11) DEFAULT NULL,
  `LONG1` int(21) DEFAULT NULL,
  `FLOAT1` float(10,3) DEFAULT NULL,
  `DOUBLE1` double(15,3) DEFAULT NULL,
  PRIMARY KEY (`STRING1`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;